name: Release Jazzy Interfaces
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: '0.0.1'

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    env:
      PACKAGE_PATH: .
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update Cargo.toml version
        run: |
          sed -i 's/^version = ".*"/version = "${{ github.event.inputs.version }}"/' ${{ env.PACKAGE_PATH }}/Cargo.toml

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.82.0
          override: true

      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          dry-run: false
          path: ${{ env.PACKAGE_PATH }}
          args: '--allow-dirty'

  release:
    needs: [ build_and_publish ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: ncipollo/release-action@v1
        with:
          tag: jazzy/${{ github.event.inputs.version }}
          name: Jazzy Release ${{ github.event.inputs.version }}
          removeArtifacts: true
          omitBody: true
          allowUpdates: true
